.item {
    position: relative;
    background-color: #fff;
    border-radius: 8px;
}

.item.isDragging {
    background-color: rgba(255, 255, 255, 0.5);
}

.item.isNotDragging {
    background-color: rgba(255, 255, 255, 1);
}

.item.isCurrentForm::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 6px;
    height: 100%;
    background-color: #4285f4;
    border-radius: 8px 0 0 8px;
}

.dragIndicator {
    width: 100% !important;
    text-align: center;
    transform: rotate(90deg);
    color: rgba(0, 0, 0, 0.2);
    padding: 5px 0 0 0;
}