.item {
    position: relative;
    background-color: #fff;
    border-radius: 8px;
}

/*.item::before {*/
/*    content: "";*/
/*    display: block;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    height: 100%;*/
/*    width: 6px;*/
/*    background-color: #4285f4;*/
/*}*/